test/src/resources/xsdcomplex/multi_two.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.jdom.org/schema_two"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.jdom.org/schema_two"
        elementFormDefault="qualified">

  <xs:element name="child">
    <xs:complexType>
      <xs:attribute name="attribute"/>
      <xs:attribute name="source" fixed="schema_two"/>
    </xs:complexType>
  </xs:element>

</xs:schema>